.contenedor {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #1e1e1e;
}

.tarjeta {
  width: 450px;
}

.encabezado {
  text-align: center;
  margin-bottom: 1rem;
}
